<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>BASE_SETTING</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>synScroll</string>
			<key>Title</key>
			<string>SYNCH_SCROLL</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>keepScreenLight</string>
			<key>Title</key>
			<string>KEEP_LIGHT</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>shakeCtrlPlay</string>
			<key>Title</key>
			<string>SHAKE_IPAD</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>hightlightLoc</string>
			<key>Title</key>
			<string>HIGHLIGHT_LOC</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>recordRead</string>
			<key>Title</key>
			<string>RECORD_READ</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>recPlayAgain</string>
			<key>Title</key>
			<string>RECORD_READ_TWICE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>nightMode</string>
			<key>Title</key>
			<string>NIGHT_MODE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>autoDownload</string>
			<key>Title</key>
			<string>AUTO_DOWNLOAD</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>catchPause</string>
			<key>Title</key>
			<string>CATCH_PAUSE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>LogController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>ACCOUNT_M</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MUL_VALUE_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Key</key>
			<string>mulValueFont</string>
			<key>Title</key>
			<string>MUL_VAL</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_1</string>
				<string>MUL_VAL_2</string>
				<string>MUL_VAL_3</string>
				<string>MUL_VAL_4</string>
				<string>MUL_VAL_5</string>
				<string>MUL_VAL_6</string>
				<string>MUL_VAL_7</string>
				<string>MUL_VAL_8</string>
				<string>MUL_VAL_9</string>
				<string>MUL_VAL_10</string>
			</array>
			<key>Values</key>
			<array>
				<integer>12</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>18</integer>
				<integer>20</integer>
				<integer>22</integer>
				<integer>24</integer>
				<integer>26</integer>
				<integer>28</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>mulValueColor</string>
			<key>Title</key>
			<string>MUL_VAL_C</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_C_1</string>
				<string>MUL_VAL_C_2</string>
				<string>MUL_VAL_C_3</string>
				<string>MUL_VAL_C_4</string>
				<string>MUL_VAL_C_5</string>
				<string>MUL_VAL_C_6</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>DATA_SEETING</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>DeletePicture</string>
			<key>Title</key>
			<string>DELETE_CACHE</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MORE_CONTENT</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VOA_NORMAL</string>
			<key>File</key>
			<string>http://itunes.apple.com/us/app/ai-yu-bavoa-chang-su-ying-yu/id553414030?ls=1&amp;mt=8</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BBC_PRO</string>
			<key>File</key>
			<string>http://itunes.apple.com/cn/app/bbc6fen-zhong-ying-yu-ying/id558115664?ls=1&amp;mt=8</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TOEIC</string>
			<key>File</key>
			<string>https://itunes.apple.com/cn/app/toeic-ting-li-700wen/id550041392?mt=8</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>CET_4</string>
			<key>File</key>
			<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=523099688</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>CET_6</string>
			<key>File</key>
			<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=523105724</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>InnerBuyController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>TOBE_PRO</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>ABOUT_SETTING</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Copyright © 2012 Iyuba.com Inc. All Rights Reserved.</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>InformationView</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>ABOUT_IYUBA</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MAKE_GRADE</string>
			<key>File</key>
			<string>itms-apps://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=519013738</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>helpView</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>USE_HELP</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>feedbackView</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>FEED_BACK</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
